#main_content
{
    padding: 4px 8px 12px 15px;
    border: 1px solid;
    margin: 10px 20px 100px 15px;
}

header, main, footer{
    border:1px solid goldenrod;
    margin:10px auto;
    width:80%;
    padding: 10px;
    text-align:center;
}

.relative
{
    position: relative;
    left:80px;
    top:20px;
    height: 100px;
    background-color:yellow;
    border:1px solid green;
}